<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="br.com.fiap.blind"
      android:versionCode="3"
      android:versionName="Beta">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
 
    <uses-library android:name="com.google.android.maps" />
    
        <activity android:name=".Blind"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Endereco" android:screenOrientation="portrait"></activity>
        <activity android:name=".ReconhecimentoVoz" android:screenOrientation="portrait"></activity>
        <activity android:name=".DesambiguaVoz" android:screenOrientation="portrait"></activity>
        <activity android:name=".MapRouteActivity" android:screenOrientation="portrait"></activity>
                 
    </application>
</manifest>