/************************************************************
********** - Default - **********
************************************************************/
.divDefault
{
    height: 340px;
    width: 600px;
}

/************************************************************
********** - ConsultarPainelMonitoramento - **********
************************************************************/
.trConsultarPainelMonitoramento
{
    width: 600px;
    border-bottom: solid 1px #BEBEBE;
}
